	body {
background-color:black;
font-family: Arial;
color: white;
margin: 135px;
}
h1{color:grey;
font-family: Verdana;}

.maindiv{
background-color: white;
color:black;
width: 500px;
padding: 20px;
border-radius: 25px;
margin: 150px auto;
}
.space {
	padding: 0 10px 0 10px;
}
